# Regex
## Task 1

### Q1)

55555 
5555 
555 
55
5

In [154]:
for i in range(6,1,-1):
    for j in range(1,i):
        print(5,end='')
    print('')

55555
5555
555
55
5

### Q2)

012345 
01234 
0123 
012
01

In [12]:
for i in range(6,1,-1):
    for j in range(i):
        print(j,end='')
    print('')

012345
01234
0123
012
01

### Q3)

1
33 
555 
7777 
99999

In [25]:
for i in range(1,11,2):
    for j in range(0,i,2):
        print(i,end='')
    print('')

1
33
555
7777
99999

### Q4)

1
21 
321 
4321 
54321

In [38]:
i=1
while i<=5: 
    j=i
    while j>=1: 
        print(j, end = '')  
        j=j-1
    i=i+1
    print("")

1
21
321
4321
54321

### Q5)

1
3 2 
6 5 4
10 9 8 7

In [17]:
start = 1

stop = 2

currentNumber = stop

for row in range(2, 6):

    for col in range(start, stop):

        currentNumber -= 1

        print(currentNumber, end=' ')

    print("")

    start = stop

    stop += row

    currentNumber = stop

1
3 2
6 5 4
10 9 8 7

### Q6)

1
1 1
1 2 1
1 3 3 1 
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [34]:
for i in range(1, 8):
    for j in range(0, 8-i+1):
        print('', end='')
 
    # first element is always 1
    C = 1
    for j in range(1, i+1):
 
        # first value in a line is always 1
        print('', C, end='')
 
        # using Binomial Coefficient
        C = C * (i - j) // j
    print()

 1
 1 1
 1 2 1
 1 3 3 1
 1 4 6 4 1
 1 5 10 10 5 1
 1 6 15 20 15 6 1

### Q7)

12345 
22345 
33345 
44445 
55555

In [110]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, rows + 1):
        if j <= i:
            print(i, end='')
        else:
            print(j, end='')
    print()

12345
22345
33345
44445
55555

### Q8)

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [86]:
for i in range(1,9):
    for j in range(1,i+1):
        print(i*j,end=' ')
    print('')

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

### Q9)

    * * * * * * 
     * * * * * 
      * * * * 
       * * * 
        * *
         *

In [98]:
rows=6
k = 2 * rows - 2  
# Outer loop in reverse order  
for i in range(rows, -1, -1):  
    # Inner loop will print the number of space.  
    for j in range(k, 0, -1):  
        print(end=" ")  
    k = k + 1  
    # This inner loop will print the number o stars  
    for j in range(0, i + 1):  
        print("*", end=" ")  
    print("")

          * * * * * * *
           * * * * * *
            * * * * *
             * * * *
              * * *
               * *
                *

### Q10)

        * 
       * *
      * * * 
     * * * *
    * * * * * 
   * * * * * *
  * * * * * * *

In [105]:
n = 7
m = (2 * n) - 2  
for i in range(0, n):  
    for j in range(0, m):  
        print(end=" ")  
    m = m - 1  # decrementing m after each loop  
    for j in range(0, i + 1):  
        # printing full Triangle pyramid using stars  
        print("* ", end=' ')  
    print(" ")

            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

### Q11)

*
**
*** 
**** 
***** 
******

****** 
***** 
**** 
***
** 
*

In [111]:
rows = 6
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")

print(" ")

for i in range(rows + 1, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

### Q12)

*
** 
*** 
**** 
***** 
**** 
*** 
**
*

In [116]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end='')
    print(" ")
for i in range(rows,0,-1):
    for j in range(0, i - 1):
        print("*", end='')
    print(" ")

*
**
***
****
*****
****
***
**
*

### Q13)

        * 
       ** 
      *** 
     **** 
    ***** 
     **** 
      *** 
       **
        *

In [118]:
rows = 5
i = 1
while i <= rows:
    j = i
    while j < rows:
        # display space
        print(' ', end='')
        j += 1
    k = 1
    while k <= i:
        print('*', end='')
        k += 1
    print()
    i += 1

i = rows
while i >= 1:
    j = i
    while j <= rows:
        print(' ', end='')
        j += 1
    k = 1
    while k < i:
        print('*', end='')
        k += 1
    print('')
    i -= 1

    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

### Q14)

        * * * * * 
         * * * * 
          * * * 
           * *
            *
            * 
           * * 
          * * * 
         * * * * 
        * * * * *

In [151]:
rows = 5
i = 0
while i <= rows - 1:
    j = 0
    while j < i:
        # display space
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

### Q15)

****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*

In [153]:
rows = 18
print("*" * rows, end="\n")
i = (rows // 2) - 1
j = 2
while i != 0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

******************
********__********
*******____*******
******______******
*****________*****
****__________****
***____________***
**______________**
*________________*